<ul class="menu-items grid items-center justify-center mt-2">
    <li class="menu-item flex h-11 items-center justify-center w-full active">
        <AiocSvg Size="20">
            <HomeIcon/>
        </AiocSvg>
    </li>
    <li class="menu-item flex h-11 items-center justify-center w-full">
        <AiocSvg Size="20">
            <HomeIcon/>
        </AiocSvg>
    </li>
    <li class="menu-item flex h-11 items-center justify-center w-full">
        <AiocSvg Size="20">
            <HomeIcon/>
        </AiocSvg>
    </li>
    <li class="menu-item flex h-11 items-center justify-center w-full">
        <AiocSvg Size="20">
            <HomeIcon/>
        </AiocSvg>
    </li>
    <li class="menu-item flex h-11 items-center justify-center w-full">
        <AiocSvg Size="20">
            <HomeIcon/>
        </AiocSvg>
    </li>
    <li class="menu-item flex h-11 items-center justify-center w-full">
        <AiocSvg Size="20">
            <HomeIcon/>
        </AiocSvg>
    </li>
</ul>