@use "../framework/default";

nav {
  .menu-items {
    grid-gap: .5rem;
    
    .menu-item {
      width: 64px;

      &.active:after,
      &:hover:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
        background-color: default.$primary;
      }

      &.active,
      &:hover {
        .aioc-icon {
          fill: default.$primary;
        }
      }
    }
  }
}