<Form Model="Model" class="space-y-8 divide-y divide-gray-200">
  <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
  <div>
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Thông tin cơ bản
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        Thông tin này sẽ được hiển thị công khai nên hãy cẩn thận với những gì bạn chia sẻ.
      </p>
    </div>
    <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
          Tên thuê bao
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <input type="text" name="name" id="name" autocomplete="name" class="max-w-lg block w-full shadow-sm focus:border-primary sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
        </div>
      </div>
  
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start">
        <label for="domain" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
          Tên miền
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md shadow-sm form-group">
            <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
              aioc.vn/
            </span>
            <input id="domain" type="text" class="form-input flex-1 block w-full focus:border-primary min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300">
          </div>
        </div>
      </div>
  
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="description" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
          Thông tin mô tả
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <textarea id="description" name="description" rows="3" class="max-w-lg shadow-sm block w-full focus:border-primary sm:text-sm border border-gray-300 rounded-md p-3"></textarea>
        </div>
      </div>
  
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-center sm:border-t sm:border-gray-200 sm:pt-5">
        <label class="block text-sm font-medium text-gray-700">
          Ảnh đại diện
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="flex items-center">
            <span class="h-12 w-12 rounded-full overflow-hidden bg-gray-100">
              <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"/>
              </svg>
            </span>
            <button type="button" class="ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Thay đổi
            </button>
          </div>
        </div>
      </div>
  
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
          Ảnh bìa
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
            <div class="space-y-1 text-center">
              <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <div class="flex text-sm text-gray-600">
                <label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-primary hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                  <span>Tải lên tập tin</span>
                  <input id="file-upload" name="file-upload" type="file" class="sr-only">
                </label>
                <p class="pl-1">hoặc kéo và thả</p>
              </div>
              <p class="text-xs text-gray-500">
                PNG, JPG, GIF kích thước dưới 10MB
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Cấu hình cơ sở dữ liệu
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        Sử dụng cấu hình cơ sở dữ liệu cho các lần truy cập tiếp theo.
      </p>
    </div>
    <div class="space-y-6 sm:space-y-5">
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="server" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
          Địa chỉ máy chủ
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <input type="text" name="server" id="server" autocomplete="server" class="block max-w-lg w-full shadow-sm focus:border-primary sm:text-sm border-gray-300 rounded-md">
        </div>
      </div>
  
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="user" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
          Tên đăng nhập
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <input type="text" name="user" id="user" autocomplete="user" class="block max-w-lg w-full shadow-sm focus:border-primary sm:text-sm border-gray-300 rounded-md">
        </div>
      </div>
  
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="password" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
          Mật khẩu
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <input id="password" name="password" type="password" class="block max-w-lg w-full shadow-sm focus:border-primary sm:text-sm border-gray-300 rounded-md">
        </div>
      </div>
  
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="database" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
          Tên cơ sở dữ liệu
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <input type="text" name="database" id="database" autocomplete="database" class="block max-w-lg w-full shadow-sm focus:border-primary sm:text-sm border-gray-300 rounded-md">
        </div>
      </div>
    </div>
  </div>
  
  <div class="divide-y divide-gray-200 pt-8 space-y-6 sm:pt-10 sm:space-y-5">
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Cấu hình thông báo
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        Chúng tôi sẽ luôn thông báo cho bạn khi có thông tin thay đổi. Bạn hãy chọn cấu hình bên dưới thông tin mà bạn muốn nhận được.
      </p>
    </div>
    <div class="space-y-6 sm:space-y-5 divide-y divide-gray-200">
      <div class="pt-6 sm:pt-5">
        <div role="group" aria-labelledby="label-email">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
            <div>
              <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-email">
                Thông báo qua email
              </div>
            </div>
            <div class="mt-4 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg space-y-4">
                <div class="relative flex items-start">
                  <div class="flex items-center h-5">
                    <input id="comments" name="comments" type="checkbox" class="h-4 w-4 text-primary border-gray-300 rounded">
                  </div>
                  <div class="ml-3 text-sm">
                    <label for="comments" class="font-medium text-gray-700">Bình luận</label>
                    <p class="text-gray-500">Nhận thông báo khi ai đó đăng nhận xét về dữ liệu của bạn.</p>
                  </div>
                </div>
                <div>
                  <div class="relative flex items-start">
                    <div class="flex items-center h-5">
                      <input id="new-subscribers" name="subscribers" type="checkbox" class="h-4 w-4 text-primary border-gray-300 rounded">
                    </div>
                    <div class="ml-3 text-sm">
                      <label for="new-subscribers" class="font-medium text-gray-700">Đăng ký mới</label>
                      <p class="text-gray-500">Nhận thông báo khi có đăng ký mới.</p>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="relative flex items-start">
                    <div class="flex items-center h-5">
                      <input id="update" name="update" type="checkbox" class="h-4 w-4 text-primary border-gray-300 rounded">
                    </div>
                    <div class="ml-3 text-sm">
                      <label for="update" class="font-medium text-gray-700">Chức năng mới</label>
                      <p class="text-gray-500">Nhận thông báo khi có chức năng mới được cập nhật.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-6 sm:pt-5">
        <div role="group" aria-labelledby="label-notifications">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
            <div>
              <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-notifications">
                Thông báo trên ứng dụng
              </div>
            </div>
            <div class="sm:col-span-2">
              <div class="max-w-lg">
                <p class="text-sm text-gray-500">Thông báo được gửi qua SMS đến điện thoại di động của bạn.</p>
                <div class="mt-4 space-y-4">
                  <div class="flex items-center">
                    <input id="push-everything" name="push-notifications" type="radio" class="h-4 w-4 text-primary border-gray-300">
                    <label for="push-everything" class="ml-3 block text-sm font-medium text-gray-700">
                      Mọi thứ
                    </label>
                  </div>
                  <div class="flex items-center">
                    <input id="push-email" name="push-notifications" type="radio" class="h-4 w-4 text-primary border-gray-300">
                    <label for="push-email" class="ml-3 block text-sm font-medium text-gray-700">
                      Giống với cấu hình email
                    </label>
                  </div>
                  <div class="flex items-center">
                    <input id="push-nothing" name="push-notifications" type="radio" class="h-4 w-4 text-primary border-gray-300">
                    <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700">
                      Không nhận thông báo
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  <div class="pt-5">
    <div class="flex justify-end">
      <button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary ml-3 inline-flex justify-center py-2 px-4 
          border border-transparent shadow-sm text-sm font-medium rounded-md text-white hover:bg-primary
          focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Save
      </button>
    </div>
  </div>
</Form>

@code {

  public SettingTenantViewModel Model = new();

}
