<nav class="border-b flex mb-6" aria-label="Breadcrumb">
    <ol class="mb-0 flex items-center py-3 space-x-4 w-full">
        <li>
            <div class="flex items-center">
                <a href="#" class="ml-4 text-xs font-medium text-gray-500 hover:text-gray-700">Dự án vnp</a>
            </div>
        </li>

        <li>
            <div class="flex items-center">
                <AiocSvg Size="12">
                    <ArrowRight/>
                </AiocSvg>
                <a href="#" class="ml-4 text-xs font-medium text-gray-500 hover:text-gray-700" aria-current="page">Danh sách thuê bao</a>
            </div>
        </li>
    </ol>
</nav>